*
{
    margin: 0px;
    padding:0px;
}

.background-sky
{
    height: 100vh;
    width: 100vw;
    background-image: url("sky.jpg");
    background-size: cover;
    background-position: center;
}

.road
{
    z-index: 1;
    background-image:url("road2.jpg");
    background-size: cover;
    background-position: center;
}

.grass
{
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100vw;
    background-image: url("grass2.jpg");
    background-size: cover;
    background-position: center;
}
